{% extends "base" %}

{% block content %}
  <main>
    <h2><span class="light">Searching for</span> "{{query}}"</h2>
    {% if verses %}
      <ul>
        {% for v in verses %}
          <li>
            <a href="/book/{{v.slug}}/{{v.chapter}}/{{v.verse}}">
              {{v.book}} {{v.chapter}}:{{v.verse}}
              <br />
              {{v.content}}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </main>
{% endblock content %}
