{% extends "base" %}

{% block content %}
  <form action="/" method="GET">
    <input type="text" name="q" />
  </form>

  {% if verses %}
    {% for v in verses %}
      <strong>{{ v.book }} {{ v.chapter }}:{{ v.verse }} -</strong>
      {{ v.content }}
      <br />
    {% endfor %}
  {% endif %}
{% endblock content %}
